// Variables
$purple: #34113f;
$yellow-green: #d4f2d2;
$blue-purple: #beb7df;
$grey-blue: #aba9bf;
$grey: #868784;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather";
}
h2 {
  font-size: 1.5rem;
}

header.main-header {
  background-color: $purple;
  height: 90px;
}

.main-title {
  height: 60px;
  background-color: $yellow-green;
  border-radius: 0.5rem;
  width: 80%;
  margin: auto;
  text-align: center;
  line-height: 60px;
}
// Reusable

.flex-container {
  display: flex;
}

.flex {
  flex: 1;
}
.flex-vertical-center {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.city,
#search-field,
#enter {
  height: 50px;
  background-color: $yellow-green;
  width: 150px;
  border: 1px solid black;
  margin: auto 0;
  border-radius: 0.5rem;
  text-align: center;
  display: inline-block;
}

.degrees {
  span {
    font-size: 3.5rem !important;
  }
}

.city {
  line-height: 50px;
}
.cont-top {
  margin: auto 0;
  width: 400px;
  background-color: $blue-purple;
  height: 50px;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
input {
  margin: 0px !important;
}
#search-field {
  position: relative;
  top: -3px;
  border: none;
  outline: none;
  width: 180px;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: $blue-purple;
  font-size: 18px;
  &::placeholder {
    font-size: 16px;
    color: $purple;
    opacity: 0.6;
  }
}

#enter {
  border-radius: 0;
  cursor: pointer;
  &:hover {
    background-color: #aba9bf;
  }
  &:active {
    color: white;
  }
}

section.display-weather {
  background-color: $purple;
  width: 800px;
  height: 400px;
  border-radius: 0.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 1rem 2rem 2rem;
  h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
  .flex-container {
    .flex-container {
      h1 {
        font-size: 3.5rem;
      }
      & > * {
        flex: 1;
      }
      p,
      span {
        font-size: 1.3rem;
      }
    }
  }
}
